@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
    margin: 0;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    font-size: 22px;
}

.header {
    display: flex;
    margin: 0px;
    padding: 30px 15%;
    justify-content: space-between;
}

.logo {
    
    font-size: clamp(10px, 3vw, 35px);
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 20px;
    font-size: clamp(5px, 2vw, 22px);
}

a {
    text-decoration:none;
    color: #E5E7EB;
}

p {
    margin: 0px;
    padding: 0px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 8% 15% 10%;
    margin: 0px;
}

.heroImg {
    margin-left: 4%;
    flex-basis: 100%;
    width: 50%;
    height: auto;
    object-fit: contain;
    min-width: 200px;
    flex-grow: 0;
}

.heroText {
    font-size: 60px;
    font-weight: bolder;
    white-space: nowrap;
    font-size: clamp(20px, 6vw, 60px);
}

.heroSubtext {
    margin-bottom: 20px;
    color: #E5E7EB;
    font-size: clamp(5px, 2vw, 22px);
}

button {
    background-color: #3882F6; /* Green */
    border: none;
    padding: 7px 35px;
    color: #F9FAF8;
    text-align: center;
    text-decoration: none;
    font-size: clamp(10px, 3vw, 25px);
    font-weight: bold;
    border-radius: 8px;
}
  
button:hover {
    transition-duration: 0.2s;
    font-size: clamp(15px, 3vw, 30px);
    background-color: #316fd3;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.webInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
    background-color: #F9FAF8;
}

.webInfo > p {
    color: #1F2937;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 50px;
}

.infoBoxes {
    display: flex;
    justify-content: center;
    color: #5e6672;
    text-align: center;
    gap: 5%;
}

.infoBoxes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    min-width: 100px;
}
.infoBoxes img {
    border-radius: 8px;
    width: 240px;
    height: auto;
    width:100%
}

.infoBoxes p {
    font-size: clamp(10px, 2vw, 22px);
}